<div class="pdf-export">
  <button kendoButton icon="file-pdf" (click)="pdfExporter.saveAs('employees.pdf')">
    Export to PDF
  </button>
</div>

<kendo-dialog
  title="Please confirm"
  *ngIf="employeeToDelete"
  (close)="confirmDeletion(false)"
>
  <p>
    Are you sure you want to delete employee <strong>{{ employeeToDelete.name }}</strong>?
  </p>
  <p>

  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="confirmDeletion(false)">No</button>
    <button kendoButton themeColor="primary" (click)="confirmDeletion(true)">
      Yes
    </button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-pdf-export #pdfExporter margin="1cm">
  <kendo-treelist
    [kendoTreeListFlatBinding]="employeeService.getEmployees()"
    idField="id"
    parentIdField="managerId"

    [kendoTreeListReactiveEditing]="createTreeFormGroup"
    [editService]="employeeService"
    [removeConfirmation]="treeDeleteConfirmation"

    etmdTreeListDraggable
    (dragStart)="onEmployeeDragStarted($event)"
    (dragEnd)="onEmployeeDragEnded($event)"

    [height]="300"
  >
    <ng-template kendoTreeListToolbarTemplate>
      <button kendoTreeListAddCommand type="button">Add new</button>
    </ng-template>

    <kendo-treelist-column field="id" title="ID" [editable]="false" [width]="80">
    </kendo-treelist-column>

    <kendo-treelist-column field="name" title="Name" [expandable]="true">
    </kendo-treelist-column>

    <kendo-treelist-column field="title" title="Title">
      <ng-template kendoTreeListEditTemplate let-formGroup="formGroup">
        <kendo-autocomplete
          placeholder="Select title..."
          [data]="employeeService.getEmployeeTitles()"
          [formControl]="formGroup.get('title')"
        >
        </kendo-autocomplete>
      </ng-template>
    </kendo-treelist-column>

    <kendo-treelist-column field="phone" title="Phone">
      <ng-template kendoTreeListEditTemplate let-formGroup="formGroup">
        <kendo-maskedtextbox
          mask="(999) 000-0000"
          [includeLiterals]="true"
          [formControl]="formGroup.get('phone')"
        >
        </kendo-maskedtextbox>
      </ng-template>
    </kendo-treelist-column>

    <kendo-treelist-column
      field="hireDate"
      title="Hire date"
      editor="date"
      [format]="{ date: 'short' }"
    >
    </kendo-treelist-column>

    <kendo-treelist-command-column [width]="180">
      <ng-template
        kendoTreeListCellTemplate
        let-isNew="isNew"
        let-cellContext="cellContext"
      >
        <!-- "Add Child" command directive, will not be visible in edit mode -->
        <button
          [kendoTreeListAddCommand]="cellContext"
          icon="filter-add-expression"
          title="Add Child"
        ></button>

        <!-- "Edit" command directive, will not be visible in edit mode -->
        <button
          [kendoTreeListEditCommand]="cellContext"
          icon="edit"
          title="Edit"
          [primary]="true"
        ></button>

        <!-- "Remove" command directive, will not be visible in edit mode -->
        <button
          [kendoTreeListRemoveCommand]="cellContext"
          icon="delete"
          title="Remove"
        ></button>

        <!-- "Save" command directive, will be visible only in edit mode -->
        <button
          [kendoTreeListSaveCommand]="cellContext"
          icon="save"
          title="{{ isNew ? 'Add' : 'Update' }}"
          [disabled]="treeFormGroup ? treeFormGroup.invalid : true"
        ></button>

        <!-- "Cancel" command directive, will be visible only in edit mode -->
        <button
          [kendoTreeListCancelCommand]="cellContext"
          icon="cancel"
          title="{{ isNew ? 'Discard changes' : 'Cancel' }}"
        ></button>
      </ng-template>
    </kendo-treelist-command-column>
  </kendo-treelist>

  <br />

  <kendo-grid
    [data]="drigData"

    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [pageable]="true"

    [filterable]="true"
    [filter]="state.filter"
    (dataStateChange)="onDataStateChanged($event)"

    [selectable]="selectableSettings"
    kendoGridSelectBy="id"
    [(selectedKeys)]="gridSelection"

    etmdGridDroppable
    (dropAt)="onEmployeeDroppedAt($event)"

    [height]="400"
  >
    <ng-template kendoGridToolbarTemplate>
      <button type="button" icon="file-excel" kendoGridExcelCommand>
        Export to Excel
      </button>
    </ng-template>
    <kendo-grid-excel
      fileName="employees.xlsx"
      [fetchData]="exportToExcel"
    ></kendo-grid-excel>

    <kendo-grid-column
      field="id"
      title="ID"
      [width]="80"
      [filterable]="false"
    ></kendo-grid-column>
    <kendo-grid-column
      field="name"
      title="Name"
      [filterable]="false"
    ></kendo-grid-column>
    <kendo-grid-column
      field="title"
      title="Title"
      [filterable]="false"
    ></kendo-grid-column>
    <kendo-grid-column
      field="phone"
      title="Phone"
      [filterable]="false"
    ></kendo-grid-column>
    <kendo-grid-column
      field="hireDate"
      title="Hire date"
      [format]="{ date: 'short' }"
      [filterable]="true"
    >
      >
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <etmd-date-range-filter-cell [field]="column.field" [filter]="filter">
        </etmd-date-range-filter-cell>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</kendo-pdf-export>
