<kendo-treelist
  [kendoTreeListFlatBinding]="employeeService.employees"
  parentIdField="managerId"
  idField="id"

  etmdTreeListDraggable
  (dragStart)="onEmployeeDragStarted($event)"
  (dragEnd)="onEmployeeDragEnded($event)"

  [height]="300"
>
  <ng-template kendoTreeListToolbarTemplate>
    <button kendoTreeListAddCommand type="button">Add new</button>
  </ng-template>

  <kendo-treelist-column field="id" title="ID" [width]="80">
  </kendo-treelist-column>

  <kendo-treelist-column field="name" title="Name" [expandable]="true">
  </kendo-treelist-column>

  <kendo-treelist-column field="title" title="Title"> </kendo-treelist-column>

  <kendo-treelist-column field="phone" title="Phone"> </kendo-treelist-column>

  <kendo-treelist-column
    field="hireDate"
    title="Hire date"
    [format]="{ date: 'short' }"
  >
  </kendo-treelist-column>
</kendo-treelist>

<br />

<kendo-grid
  [data]="selectedEmployees"

  etmdGridDroppable
  (dropAt)="onEmployeeDroppedAt($event)"

  [height]="300"
>
  <kendo-grid-column field="id" title="ID" [width]="80"></kendo-grid-column>
  <kendo-grid-column field="name" title="Name"></kendo-grid-column>
  <kendo-grid-column field="title" title="Title"></kendo-grid-column>
  <kendo-grid-column field="phone" title="Phone"></kendo-grid-column>
  <kendo-grid-column
    field="hireDate"
    title="Hire date"
    filter="date"
    [format]="{ date: 'short' }"
  >
</kendo-grid-column>
</kendo-grid>
